/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    background: #dfe8e6;
    display: flex;
    justify-content: center;
}

/* APP CONTAINER */

.container {
    width: 100%;
    max-width: 420px;
    min-height: 100vh;
    background: #e7efed;
    padding-bottom: 90px;
}

/* HEADER */

.header {
    color: white;
    padding: 25px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}

.header p {
    font-size: 14px;
    opacity: 0.9;
}

/* GRID LAYOUT */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;
}

/* CARD */

.card {
    background: white;
    border-radius: 16px;
    padding: 18px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    text-align: center;
}

/* CARD MODE */

.card h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

/* BUTTON */

.btn {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: #2e7d32;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #1b5e20;
}

/* STAT CARDS */

.card:nth-child(3),
.card:nth-child(4),
.card:nth-child(5) {
    text-align: center;
}

.card p {
    font-size: 20px;
    font-weight: 700;
    color: #ff9800;
}

/* IMAGE SECTION */

.focus-image {
    margin: 0 20px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.focus-image img {
    width: 100%;
    display: block;
}

/* HISTORY */

.history {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
}

.history h4 {
    margin-bottom: 10px;
}

.history p {
    font-size: 14px;
    color: #666;
}

/* BOTTOM NAV */

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 420px;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    border-top: 1px solid #eee;
}

.bottom-nav a {
    text-decoration: none;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.bottom-nav a:last-child {
    color:green;
    font-weight: 600;
}